# Node & Frontend
/ui/node_modules/
/ui/dist/
/ui/.vite/
/ui/.next/

# Rust
/src-tauri/target/
/src-tauri/gen/
/src-tauri/Cargo.lock.lock

# OS
.DS_Store
Thumbs.db

# App Logs
*.log
log/work/*.md
!log/work/.gitkeep
